<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Konto auswählen</mat-label>
      <mat-select>
        <mat-option *ngFor="let account of accounts" [value]="account.iban">
          {{account.iban}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Betrag CHF" value="0.00">
    </mat-form-field>

    <button mat-raised-button color="primary">Einzahlen</button>

  </form>
</mat-card>
