<div class="bankingContent" *ngIf="customers">
  <mat-card>
    <div>
      <mat-label>Wähle deinen Benutzer</mat-label>
    </div>
    <div id="select">
      <mat-form-field>
        <mat-label>Benutzer</mat-label>
        <mat-select [(value)]="selectedCustomerId">
          <mat-option *ngFor="let customer of customers"
                      value="{{customer.id}}">{{customer.firstName}} {{customer.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="selectedCustomerId != null" (click)="login()" mat-raised-button color="primary" id="button">Weiter</button>
    </div>
  </mat-card>
</div>
