<mat-card>
  <form class="example-form" (ngSubmit)="submitTransaction()">
    <mat-form-field class="example-full-width">
      <mat-label>Konto auswählen</mat-label>
      <mat-select [(value)]="iban">
        <mat-option *ngFor="let account of accounts" [value]="account.iban">
          {{account.iban}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Betrag CHF" value="0" [(ngModel)]="amountWithdraw" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Auszahlen</button>

  </form>
</mat-card>
